.crossButton{
    display: flex;
    color: red;
    font-size: 15px;
    border: solid 1px #2a3c44;
    border-radius: 10%;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.liText{
    display: flex;
    gap: 10px;
    
  
}